# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Java files
[*.{java,kt}]
indent_style = space
indent_size = 2
max_line_length = 100
continuation_indent_size = 4

# Java-specific
[*.java]
# Google Java Style Guide
curly_bracket_next_line = false
spaces_around_operators = true
spaces_around_brackets = false
indent_brace_style = K&R
wildcard_import_limit = 99
ij_java_imports_layout = *,|,javax.**,java.**,|,$*
ij_java_class_count_to_use_import_on_demand = 99
ij_java_names_count_to_use_import_on_demand = 99
ij_java_use_single_class_imports = true
ij_java_align_multiline_parameters = true
ij_java_align_multiline_parameters_in_calls = true
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_keep_blank_lines_before_right_brace = 0
ij_java_blank_lines_after_class_header = 0
ij_java_doc_add_blank_line_after_description = true
ij_java_doc_add_p_tag_on_empty_lines = true

# Kotlin-specific
[*.kt]
ij_kotlin_imports_layout=*,java.**,javax.**,kotlin.**,^
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true

# Gradle files
[*.{gradle,gradle.kts}]
indent_style = space
indent_size = 4

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# XML files
[*.xml]
indent_style = space
indent_size = 2

# Properties files
[*.properties]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
end_of_line = lf

# Markdown files
[*.md]
trim_trailing_whitespace = false
